# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite databases (ignore live user data)
*.db
*.sqlite3
*.sqbpro
#except ones in backup folder
!db_backup/*.db

# Flask instance folder (if used)
instance/

# Virtual environment
venv/
env/
ENV/
.venv/
.env

#ignore backup files
*~

# Node / frontend build artifacts (if you ever add npm)
node_modules/
dist/

# IDE / editor files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
features.txt

# folder
/bullpen_report_uploads/

# files
features.txt
