<!DOCTYPE html>
<html>
<head>
	 <title>Baseball Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="sidebar" id="sidebar">
        <button id="sb-btn" title="Toggle Sidebar">&#9776;</button>
        <a href="{{ url_for('index') }}">
            <span class="icon">🏠</span>
            <span class="link-text">Home</span>
        </a>
        <a href="{{ url_for('offszn_throwing_form') }}">
            <span class="icon">&#128211;</span>
            <span class="link-text">Throwing Journal</span>
        </a>
        <a href="{{ url_for('throwing_plan') }}">
            <span class="icon">📅</span>
            <span class="link-text">Throwing Plan</span>
        </a>
        <a href="{{ url_for('dashboard') }}">
            <span class="icon">📊</span>
            <span class="link-text">Data Dashboard</span>
        </a>
        <a href="{{ url_for('bullpen_report') }}">
            <span class="icon">📈</span>
            <span class="link-text">Bullpen Report</span>
        </a>
        <a href="{{ url_for('inszn_home') }}">
            <span class="icon">👥</span>
            <span class="link-text">Inszn Homepage</span>
        </a>
        
    </div>
    <div class="content" id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>