{% extends "inszn_base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lifting_forms.css') }}">
{% endblock %}
{% block content %}
<header>
  <h1><span>//</span> Lifting Forms <span>//</span></h1>
</header>

<!-- Tab Nav -->
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'warmup_form')">Warmup Form</button>
  <button class="tablinks" onclick="openTab(event, 'lift_form')">Lift Form</button>
  <button class="tablinks" onclick="openTab(event, 'armcare_form')">Arm Care Form</button>
  <button class="tablinks" onclick="openTab(event, 'back_form')">Back Routine Form</button>
  <button class="tablinks" onclick="openTab(event, 'conditioning_form')">Conditioning Form</button>
</div>

<!-- ══ WARMUP FORM TAB ══════════════════════════════ -->
<div id="warmup_form" class="tabcontent active">
<form id="warmup-form" method="POST" action="/submit_warmup">
	 <label for="date">Date</label>
    <input type="date" id="date" name="date" required>
    
    <label for="warmup-name">Warmup Name</label>
    <textarea id="warmup-name" name="warmup_name" rows="1"></textarea>
    
    <label for="rollout-ex">Rollout/Soft Tissue</label>
    <textarea id="rollout-ex" name="rollout_ex"></textarea>
    
    <label for="spine-ex">Spine</label>
    <textarea id="spine-ex" name="spine_ex"></textarea>
    
    <label for="hip-ex">Hips/Lower Leg</label>
    <textarea id="hip-ex" name="hip_ex"></textarea>
    
    <label for="shoulder-ex">Shoulder</label>
    <textarea id="shoulder-ex" name="shoulder_ex"></textarea>
    
	 <label for="arm-ex">Arm</label>
    <textarea id="arm-ex" name="arm_ex"></textarea>
    
    <label for="hip-ex">Dynamic/Misc</label>
    <textarea id="dynamic-ex" name="dynamic_ex"></textarea>
    
    <div class="field-group">
    <label for="notes">Notes</label>
    <textarea id="notes" name="notes" rows="5"></textarea>
  	 </div>

	<button type="submit">Save Warmup</button>
</form>
</div>

<!-- ══ ARM CARE FORM TAB ══════════════════════════════ -->
<div id="armcare_form" class="tabcontent">
<form id="armcare-form" method="POST" action="/submit_armcare">
	 <label for="date">Date</label>
    <input type="date" id="date" name="date" required>
    
    <label for="armcare-name">Armcare Name</label>
    <textarea id="armcare-name" name="armcare_name" rows="1"></textarea>
    
    <div id="ex-container-armcare" class="ex-container">
    <div class="ex-row">
      <input type="text" name="ex_block[]" placeholder="Block">
      <input type="text" name="ex_name[]" placeholder="Exercise Name">
      <input type="text" name="sets_reps[]" placeholder="Sets/Reps">
      <input type="text" name="ex_notes[]" placeholder="Exercise Notes">
    </div>
  	</div>
  <div class="btn-group">
    <button type="button" onclick="addExRow('ex-container-armcare')">+ Add Exercise </button>
    <button type="button" class="btn-delete" onclick="deleteExRow('ex-container-armcare')">Remove Exercise</button>
  </div>

  <div class="field-group">
    <label for="notes">Notes</label>
    <textarea id="notes" name="notes" rows="5"></textarea>
  </div>
    
	<button type="submit">Save Armcare Workout</button>
</form>
</div>

<!-- ══ BACK ROUTINE FORM TAB ══════════════════════════════ -->
<div id="back_form" class="tabcontent">
<form id="back-form" method="POST" action="/submit_back">
	 <label for="date">Date</label>
    <input type="date" id="date" name="date" required>
    
    <label for="back-name">Back Routine Name</label>
    <textarea id="back-name" name="back_name" rows="1"></textarea>
    
    <div id="ex-container-back" class="ex-container">
    <div class="ex-row-back">
      <input type="text" name="ex_block[]" placeholder="Block">
      <input type="text" name="ex_name[]" placeholder="Exercise Name">
      <input type="text" name="sets_reps[]" placeholder="Sets/Reps">
      <input type="text" name="ex_notes[]" placeholder="Exercise Notes">
    </div>
  	</div>
  <div class="btn-group">
    <button type="button" onclick="addExRow('ex-container-back', 'ex-row-back')">+ Add Exercise </button>
    <button type="button" class="btn-delete" onclick="deleteExRow('ex-container-back', 'ex-row-back')">Remove Exercise</button>
  </div>

  <div class="field-group">
    <label for="notes">Notes</label>
    <textarea id="notes" name="notes" rows="5"></textarea>
  </div>

	<button type="submit">Save Back Workout</button>
</form>
</div>

<!-- ══ LIFT INPUT FORM TAB ══════════════════════════════ -->
<div id="lift_form" class="tabcontent">
<form id="lift-form" method="POST" action="/submit_lift">
	 <label for="date">Date</label>
    <input type="date" id="date" name="date" required>
    
    <label for="lift-name">Lift Name</label>
    <textarea id="lift-name" name="lift_name" rows="1"></textarea>
    
    <div id="ex-container-lift" class="ex-container">
    <div class="ex-row">
    	<input type="text" name="ex_block[]" placeholder="Block">
      <input type="text" name="ex_name[]" placeholder="Exercise Name">
      <input type="text" name="sets_reps[]" placeholder="Sets/Reps">
      <input type="text" name="ex_notes[]" placeholder="Exercise Notes">
    </div>
  	</div>
  <div class="btn-group">
    <button type="button" onclick="addExRow('ex-container-lift')">+ Add Exercise </button>
    <button type="button" class="btn-delete" onclick="deleteExRow('ex-container-lift')">Remove Exercise</button>
  </div>
    
     <div class="field-group">
    	<label for="notes">Notes</label>
    	<textarea id="notes" name="notes" rows="5"></textarea>
     </div>

	<button type="submit">Save Lift</button>
</form>
</div>

<!-- ══ CONDITIONING INPUT FORM TAB ══════════════════════════════ -->
<div id="conditioning_form" class="tabcontent">
<form id="conditioning-form" method="POST" action="/submit_conditioning">
	 <label for="date">Date</label>
    <input type="date" id="date" name="date" required>
    
    <label for="conditioning-name">Conditioning Day Name</label>
    <textarea id="conditioning-name" name="conditioning_name" rows="1"></textarea>
    
    <div id="ex-container-conditioning" class="ex-container">
    <div class="ex-row">
    	<input type="text" name="ex_block[]" placeholder="Block">
      <input type="text" name="ex_name[]" placeholder="Exercise Name">
      <input type="text" name="sets_reps[]" placeholder="Sets/Reps">
      <input type="text" name="ex_notes[]" placeholder="Exercise Notes">
    </div>
  	</div>
  	
  <div class="btn-group">
    <button type="button" onclick="addExRow('ex-container-conditioning')">+ Add Exercise </button>
    <button type="button" class="btn-delete" onclick="deleteExRow('ex-container-conditioning')">Remove Exercise</button>
  </div>
  
     <div class="field-group">
    	<label for="notes">Notes</label>
    	<textarea id="notes" name="notes" rows="5"></textarea>
     </div>

	<button type="submit">Save Conditioning Day</button>
</form>
</div>

<script src="{{ url_for('static', filename='js/lifting_forms.js') }}"></script>

{% endblock %}